body{
	background: #EAEDF0;
color:#111;
font-family: 'Droid Sans', sans-serif;
}

h1{
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.ui.grid>.column{
	margin:0;
}


h1.message{
	display:block;
	font-size: .5em;
	padding:0;
	margin:0;
}

div{
	padding:1% 0;
}

/*Home Button styling*/
.ui.button{
	background: #333;
	color:#fff;
}

.ui.button:hover{
	background:  #e1273d;
	color:#fff;
}

/*Buy Button styling*/
.ui.red.button, .ui.red.buttons .button{
background: #e1273d;
}
.ui.red.button:hover, .ui.red.buttons:hover .button:hover{
background: #333;
}